In [1]:
#importing libraries and neccesary

import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\COMPAQ\Desktop\total projects\data cleaning\sample.csv")
row_count = len(df)
print(row_count)

27966

In [2]:
#renaming unneccesary columns

df.rename(columns={'How old are you?': 'AGE', 'What industry do you work in?': 'Industry'},inplace=True)
df.rename(columns={'If your job title needs additional context, please clarify here:':'job Description'},inplace=True)
df.rename(columns={"What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)":"Annual_Salary"},inplace=True)
df.rename(columns={'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.':'Monetary_Salary'},inplace=True)
df.rename(columns={'Please indicate the currency':'Currency','What country do you work in?':'Country',"If you're in the U.S., what state do you work in?":'State',"What city do you work in?":'city','How many years of professional work experience do you have overall?':'Professional Experience'},inplace=True)
df.rename(columns={'How many years of professional work experience do you have in your field?':'FieldExperience','What is your highest level of education completed?':'Education','What is your gender?':"Gender","What is your race? (Choose all that apply.)":"Race"},inplace=True)
df.rename(columns={'If "Other," please indicate the currency here: ':'Other_Currency'},inplace=True)

column_name = 'Annual_Salary' 
df[column_name].fillna(0, inplace=True)

In [3]:
#dropping columns

df.drop(['Timestamp'], axis=1, inplace=True)
df.drop(['If your income needs additional context, please provide it here:'],axis=1,inplace=True)

In [4]:
#deleting duplicated

df.info()
df.drop_duplicates(inplace=True)


row_count = len(df)
print(row_count)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27966 entries, 0 to 27965
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AGE                      27966 non-null  object
 1   Industry                 27894 non-null  object
 2   Job title                27966 non-null  object
 3   job Description          7236 non-null   object
 4   Annual_Salary            27966 non-null  object
 5   Monetary_Salary          20703 non-null  float64
 6   Currency                 27966 non-null  object
 7   Other_Currency           197 non-null    object
 8   Country                  27966 non-null  object
 9   State                    22977 non-null  object
 10  city                     27891 non-null  object
 11  Professional Experience  27966 non-null  object
 12  FieldExperience          27966 non-null  object
 13  Education                27751 non-null  object
 14  Gender                   27799 non-null  object
 15  Race                     27797 non-null  object
dtypes: float64(1), object(15)
memory usage: 3.4+ MB
27817

In [5]:
#changing datatypes

df.dtypes
column_name = 'Annual_Salary' 
df[column_name] = df[column_name].replace([np.inf, -np.inf, np.nan],1)
column_name = 'Monetary_Salary' 
df[column_name] = df[column_name].replace([np.inf, -np.inf, np.nan],1)
column_name = ['Professional Experience','FieldExperience']
df[column_name] = df[column_name].replace([np.inf, -np.inf, np.nan],1)

In [6]:
df['Annual_Salary'] = df['Annual_Salary'].replace(',', '', regex=True).astype(int)
df['Monetary_Salary']=df['Monetary_Salary'].astype(int)

In [7]:
#addition of total Salary

df['Total_Salary'] = df['Annual_Salary'] + df['Monetary_Salary']

print(df)

         AGE                              Industry  \
0      25-34          Education (Higher Education)
1      25-34                     Computing or Tech
2      25-34         Accounting, Banking & Finance
3      25-34                            Nonprofits
4      25-34         Accounting, Banking & Finance
...      ...                                   ...
27961  45-54                     Computing or Tech
27962  45-54                           Health care
27963  25-34  Government and Public Administration
27964  25-34                     Computing or Tech
27965  25-34                Business or Consulting

                                      Job title job Description  \
0            Research and Instruction Librarian             NaN
1      Change & Internal Communications Manager             NaN
2                          Marketing Specialist             NaN
3                               Program Manager             NaN
4                            Accounting Manager             NaN
...                                         ...             ...
27961                              Data Analyst             NaN
27962             Business Development Director             NaN
27963                          Business Analyst             NaN
27964                          Junior Developer             NaN
27965               Environmental Risk Assessor             NaN

       Annual_Salary  Monetary_Salary Currency Other_Currency         Country  \
0              55000                0      USD            NaN   United States
1              54600             4000      GBP            NaN  United Kingdom
2              34000                1      USD            NaN              US
3              62000             3000      USD            NaN             USA
4              60000             7000      USD            NaN              US
...              ...              ...      ...            ...             ...
27961          65000                0      USD            NaN   United States
27962         185000            22000  AUD/NZD            NaN       Australia
27963          90000                0      USD            NaN             USA
27964          22000                0      GBP            NaN  united kingdom
27965          80000                1      CAD            NaN          Canada

                State           city Professional Experience FieldExperience  \
0       Massachusetts         Boston               5-7 years       5-7 years
1                 NaN      Cambridge            8 - 10 years       5-7 years
2           Tennessee    Chattanooga             2 - 4 years     2 - 4 years
3           Wisconsin      Milwaukee            8 - 10 years       5-7 years
4      South Carolina     Greenville            8 - 10 years       5-7 years
...               ...            ...                     ...             ...
27961        New York          Bronx           21 - 30 years    8 - 10 years
27962             NaN        Sydney            21 - 30 years  1 year or less
27963        New York  New York City           11 - 20 years    8 - 10 years
27964             NaN    northampton          1 year or less  1 year or less
27965             NaN      Vancouver             2 - 4 years     2 - 4 years

             Education                         Gender  \
0      Master's degree                          Woman
1       College degree                     Non-binary
2       College degree                          Woman
3       College degree                          Woman
4       College degree                          Woman
...                ...                            ...
27961   College degree                            Man
27962   College degree  Other or prefer not to answer
27963  Master's degree                          Woman
27964  Master's degree                          Woman
27965  Master's degree                          Woman

                            Race  Total_Salary
0                          White         55000
1                          White         58600
2                          White         34001
3                          White         65000
4                          White         67000
...                          ...           ...
27961  Black or African American         65000
27962                      White        207000
27963    Asian or Asian American         90000
27964    Asian or Asian American         22000
27965                      White         80001

[27817 rows x 17 columns]

In [8]:
#replacing values 

df.replace(to_replace='65 or over', value='65-75', inplace=True)
df.replace(to_replace='under 18', value='15-18', inplace=True)
df.replace(to_replace='1 year or less',value='0-1',inplace=True)
df.replace(to_replace=['Woman','Man'],value=['F','M'],inplace=True)
df.replace(to_replace='41  or more', value='41-50', inplace=True)

In [9]:
#finding age by averaging the age

df[['lower', 'upper']] = df['AGE'].str.split('-', expand=True)
df['lower'] = df['lower'].astype(int)
df['upper'] = df['upper'].astype(int)
df['AGE'] = (df['lower'] + df['upper']) / 2

In [10]:
df['AGE']=df['AGE'].astype(int)

In [11]:
#dropping unnessary columns

df.drop(['lower','upper'], axis=1, inplace=True)

In [12]:
# replacing values

df['Country'].replace(['USA', 'U.S.A.', 'US', 'na'], 'USA', inplace=True)

In [13]:
row_count = len(df)
print(row_count)

27817

In [14]:
df.to_csv('data.csv', index=False)